---
import logo from "-assets/images/brainheart.svg";
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
export type Props = HTMLAttributes<"div"> & {
  slogan: string;
  address: {
    street: string;
    zip: string;
  };
  telephone: {
    prefix: string;
    number: string;
  };
  email: string;
};
const { slogan, address } = Astro.props;
---

<div class="flex w-full flex-col items-center" {...Astro.props}>
  <div
    class="mr-4 aspect-square h-14 w-14 rounded-full bg-teal-400 stroke-2 p-2 transition-all group-hover:mr-8 group-hover:scale-125 lg:mr-4 lg:h-24 lg:w-24"
  >
    <Image
      src={logo}
      alt="logo"
      class="mt-[3px] h-full w-full"
      width={180}
      height={180}
    />
  </div>
  <div class="mt-2 flex h-full flex-col flex-wrap items-center gap-x-4">
    <p
      class="text-contrast font-krona whitespace-nowrap text-2xl font-bold leading-tight lg:text-4xl"
    >
      <!-- {SITENAME} -->
    </p>
    <p
      class="text-indent-8 lg:text-md font-martel text-highlight max-w-sm text-xs font-thin lg:mt-2 lg:whitespace-nowrap"
    >
      {slogan}
       Psychotherapie für Kinder und Jugendliche
    </p>
    <p class="text-contrast text-xs font-thin">
      {address.street}, {address.zip}
    </p>
    <p class="text-contrast text-xs font-thin">
      <!-- <TelLink
        iconclass="w-2 h-2"
        class="text-contrast mr-4 items-baseline text-xs font-thin"
        number={telephone.prefix + telephone.number}
      />
      <EmailLink
        iconClassname="w-2 h-2"
        class="text-contrast items-baseline text-xs font-thin"
        email={email}
      /> -->
    </p>
  </div>
</div>
