---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import DocumentLayout from "layouts/DocumentLayout.astro";
import BackLink from "~components/BackLink.astro";
import MdContainer from "~components/MdContainer.astro";
import PostList from "~components/PostList.astro";
import Separator from "~components/Separator.astro";
import { getPublishedPosts } from "~util/collection-helper";
import { slugify } from "~util/slugify";

export async function getStaticPaths() {
  const mates = await getCollection("band-mates");
  return mates.map((author) => ({
    params: { name: slugify(author.data.name) },
    props: author,
  }));
}
type Props = CollectionEntry<"band-mates">;

const a = Astro.props;
const { Content } = await a.render();
const postsByAuthor = await getPublishedPosts("latest-first", (entry) =>
  entry.data.author ? entry.data.author.slug === a.slug : false,
);
---

<DocumentLayout
  title={`About ${a.data.name}`}
  description={`Bio of ${a.data.name}`}
>
  <div class="flex justify-center">
    <div
      class="flex flex-col items-center justify-center px-4 py-20 sm:px-16 md:px-6"
    >
      <div class="mate-card relative">
        <BackLink
          class="absolute right-4 top-6 z-50 flex h-9 w-9 items-center justify-center rounded-full bg-gnurange text-[.5rem] text-white"
        >
          back
        </BackLink>
        <div
          class="mate-name absolute bottom-10 z-20 -rotate-12"
          transition:name="band-mate-avatar"
          transition:animate="initial"
        >
          <h2
            style={{ "text-shadow": "4px 4px var(--chili-red)" }}
            class="mb-0 select-none text-[4rem] font-bold text-white drop-shadow-md hover:text-gnurange-light sm:text-[5rem] md:bottom-24 md:text-[6rem] lg:text-[7rem] xl:text-[8rem]"
          >
            {a.data.name}
          </h2>
          <p
            style={{ "text-shadow": "2px 2px var(--chili-red)" }}
            class="-mt-6 select-none pl-4 text-xl font-extrabold text-white md:-mt-8 lg:pr-4 lg:text-right"
          >
            {a.data.nickName}
          </p>
        </div>

        <div
          id="image-crop"
          class:list={[
            "relative h-[16rem] w-[16rem] max-w-full  overflow-hidden rounded-full object-bottom outline-dashed outline-offset-8 outline-white dark:outline-gnurange",
            "sm:h-[22rem] sm:w-[22rem] md:h-[32rem] md:w-[32rem] ",
          ]}
        >
          <Image
            class="object-center outline-dashed"
            src={a.data.avatar}
            alt={a.data.name}
          />
        </div>
      </div>

      <div
        class="info mt-4 flex w-full flex-row items-start self-start pb-2 dark:border-gnurange"
      >
        <dl
          class="flex flex-col text-slate-600 drop-shadow-md dark:text-white sm:text-2xl"
        >
          <div class="flex flex-row">
            <dt class="font-bold">Member since:</dt>
            <dd class="pl-2 font-bold text-white">
              {a.data.memberSince}
            </dd>
          </div>
          <>
            <div class="flex flex-row">
              <dt class="font-bold">Postion:</dt>
              <dd class="pl-2 font-bold text-white">
                {a.data.postion}
              </dd>
            </div>
            <div class="flex flex-row">
              <dt class="font-bold">Nickname:</dt>
              <dd class="pl-2 font-bold text-white">
                {a.data.nickName}
              </dd>
            </div>
          </>
        </dl>
      </div>
      <Separator class="my-4" />

      <MdContainer
        class="prose-h1:gnu-shadow prose prose-xl mt-4 self-start dark:prose-invert prose-h1:text-slate-100 dark:prose-h1:text-slate-100"
      >
        <Content />
      </MdContainer>
      <Separator class="my-4" />
      {
        postsByAuthor.length > 0 && (
          <>
            <h2 class="gnu-shadow mb-4 self-start text-2xl text-slate-100">
              Post written by me:
            </h2>
            <PostList posts={postsByAuthor} />
          </>
        )
      }
    </div>
  </div>
</DocumentLayout>
