---
import { getEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
// Example: Instead of creating an `img` tag,
// apply an optimized image to a div using CSS.
import bg from "~assets/images/gnu.jpg";
import { getImage } from "astro:assets";
import Link from "~components/Link.astro";
// import placeHolderHero from "~assets/images/blog-generic-placeholder.jpg";

const optimizedBackgroundImage = await getImage({ src: bg });
const settings = await getEntry("settings", "variables");
const bgImage = `url(${optimizedBackgroundImage.src})`;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script
      is:inline
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class={"h-screen "}>
    <Header
      classNames="text-white"
      title={settings.data.siteName}
      isHome={true}
    />
    <main
      class="flex h-full items-center justify-center"
      transition:name="content"
      transition:animate="slide"
    >
      <h1
        id="wearegnu"
        class="pulsate hover:scale-120 transform text-[3.5rem] transition-all md:text-[5rem]"
      >
        <Link href="/band-mates">WE ARE GNU!</Link>
      </h1>
    </main>
    <style define:vars={{ bgImage }}>
      body::before {
        background-image: var(--bgImage);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all;
        transition-duration: 0.5s;
      }
      body.grey::before {
        /* filter: saturate(20%); */
        filter: blur(8px);
      }
      @keyframes beat {
        to {
          transform: scale(1.05);
        }
      }
      .pulsate {
        animation: beat 0.8s infinite alternate ease-in-out;
        transform-origin: center;
      }
      .pulsate:hover {
        transition: all;
        animation-duration: 0.5s;
        filter: drop-shadow(-2px -2px 8px rgb(26, 31, 62));
      }
      h1 {
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        text-shadow: 10px 0px #ff4400;
      }
    </style>
    <script>
      document.getElementById("wearegnu")?.addEventListener("mouseover", () => {
        document.body.classList.add("grey");
      });
      document.getElementById("wearegnu")?.addEventListener("mouseout", () => {
        document.body.classList.remove("grey");
      });
    </script>
  </body>
</html>
