---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import type { UnresolvedImageTransform } from "astro";
import "../styles/global.css";
import SocialImages from "./SocialImages.astro";

interface Props {
  title: string;
  description: string;
  image?: UnresolvedImageTransform | string;
  altText?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image, altText = title } = Astro.props;
const baseUrl =
  import.meta.env.BASE_URL === "/" ? "" : import.meta.env.BASE_URL;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, user-scalable=1"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href={`${baseUrl}/apple-touch-icon.png`}
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href={`${baseUrl}/favicon-32x32.png`}
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href={`${baseUrl}/favicon-16x16.png`}
/>
<link rel="manifest" href={`${baseUrl}/site.webmanifest`} />

<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<!-- <link
  rel="preload"
  href="/fonts/atkinson-regular.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/atkinson-bold.woff"
  as="font"
  type="font/woff"
  crossorigin
/> -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<SocialImages
  title={title}
  description={description}
  importedImage={image}
  altText={altText}
/>
