---
import ReadingTime from "./ReadingTime.astro";
import type { ReadTimeResults } from "reading-time";
import { slugify } from "~util/slugify";
import FormattedDate from "./FormattedDate.astro";
import type { CollectionEntry } from "astro:content";
import Link from "./Link.astro";

type Props = {
  pubDate: Date;
  minutesToRead?: ReadTimeResults;
  updatedDate?: Date;
  writtenBy?: CollectionEntry<"band-mates"> | null;
};
const { pubDate, updatedDate, writtenBy, minutesToRead } = Astro.props;
---

<div class="subtitle flex flex-col">
  <div class="flex">
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <div class="ml-auto flex">
      {
        writtenBy && (
          <>
            author:&nbsp;
            <Link
              class="text-slate-200 hover:text-gnutrast dark:text-gnurange dark:hover:text-gnurange-light"
              href={`/band-mates/${slugify(writtenBy.data.name)}`}
            >
              {writtenBy.data.name}
            </Link>
          </>
        )
      }
    </div>
  </div>
  {
    minutesToRead && (
      <ReadingTime readtimeObj={minutesToRead} prefix="Reading time: " />
    )
  }
</div>
