---
import type { z } from "astro/zod";
import { postSchema } from "../../content/config";
type Props = z.infer<typeof postSchema>;

const { title, url, thumbnail, summary } = Astro.props;
---

<div class="block">
  <div class="block-container blocks post-summary px-3">
    <div class="tablet-up-4 lg-tablet-up-3 block">
      <img src={`/images/blog/${thumbnail}`} alt={title} />
    </div>
    <div class="tablet-up-8 lg-tablet-up-9 block">
      <a href={`/blog/${url}`}>
        <h2 class="heading">{title}</h2>
      </a>
      <p>{summary}</p>
      <a href={`/blog/${url}`} class="post-summary__action text--bold"
        >Read More</a
      >
    </div>
  </div>
</div>
