---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import type { ReadTimeResults } from "reading-time";
import BlogHeading from "~components/BlogHeading.astro";
import BlogSubTitle from "~components/BlogSubTitle.astro";
import MdContainer from "~components/MdContainer.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SocialShare from "../components/social-share-buttton/SocialShare.astro";

type Props = CollectionEntry<"blog">["data"] & {
  minutesToRead: ReadTimeResults;
  writtenBy?: CollectionEntry<"band-mates"> | null;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImageAltText,
  minutesToRead,
  showHeadingPermalink,
  writtenBy,
  subTitle,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={subTitle ? `${title} - ${subTitle}` : title}
      description={description}
      image={heroImage}
      altText={heroImageAltText}
    />
    <ViewTransitions />
    <style>
      :global(.toc-details-collapse, .toc-details-collapse li) {
        list-style-type: none;
      }
      :global(.toc-details-collapse li a) {
        padding: 0.5rem;
      }
    </style>
  </head>
  <body class="bg-gnu-bg dark:bg-slate-600" transition:animate="none">
    <Header classNames="text-transparent" containerClass="fixed top-0" />
    <main
      transition:animate="slide"
      transition:name="content"
      class:list={[
        "container mx-auto min-h-[100vh] bg-white/20 dark:bg-white/10",
      ]}
    >
      <MdContainer
        showHeadingPermalink={showHeadingPermalink}
        class="prose prose-sm prose-zinc mx-auto max-w-4xl px-4 pt-16 dark:prose-invert md:prose-xl prose-h1:mb-0 prose-h1:text-gnudark prose-h2:first:mt-0 dark:prose-h1:text-gnurange"
      >
        <div class="hero-image">
          {
            heroImage && (
              <Image
                style={{ marginBottom: "1em" }}
                class="mb-0 h-48 w-full rounded-xl object-cover"
                width={1020}
                height={200}
                src={heroImage}
                alt={heroImageAltText ?? "image"}
              />
            )
          }
        </div>
        <div class="flex flex-col">
          <BlogSubTitle
            pubDate={pubDate}
            updatedDate={updatedDate}
            writtenBy={writtenBy}
            minutesToRead={minutesToRead}
          />
          <hr class="not-prose mb-2 mt-0 border-t-gnurange" />
          <BlogHeading>
            {title}
            {subTitle && <Fragment slot="subTitle">{subTitle}</Fragment>}
          </BlogHeading>
          <hr class="not-prose mb-0 mt-0 border-t-gnurange" />
          <SocialShare
            class="ml-auto flex h-11 items-center space-x-2 bg-gnurange px-4 drop-shadow-md"
            description={description}
            title={title}
          />
          <slot />
        </div>
      </MdContainer>
      <Footer class="sticky top-[100vh]" />
    </main>
    <style>
      :global(.social-share-btn) {
        @apply h-6 w-6;
      }
      :global(.social-share-btn svg) {
        @apply h-6 w-6 fill-neutral-100;
      }
    </style>
  </body>
</html>
