---
import { Image, getImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import type { ReadTimeResults } from "reading-time";
import BlogSubTitle from "~components/BlogSubTitle.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BlogHeading from "~components/BlogHeading.astro";
import MdContainer from "~components/MdContainer.astro";
import { Debug } from "astro:components";

type Props = CollectionEntry<"blog">["data"] & {
  minutesToRead: ReadTimeResults;
  writtenBy?: CollectionEntry<"band-mates"> | null;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImageAltText,
  minutesToRead,
  showHeadingPermalink,
  writtenBy,
  subTitle,
} = Astro.props;
// super dirty astro bug heroimage is not an url so i have to import it to get the path
// import it again to pass it to getimag to get the url of the optimized image
let ogurl = "";
let src = "";
try {
  if (heroImage) {
    const f = await import(heroImage.src);
    const hermoimage = f.default.split("?");
    const img = import(hermoimage[0]);
    const imgUrl = await getImage({ src: img });
    src = imgUrl.src;
  }
} catch (e) {
  console.log(e);
}
ogurl = Astro.site?.origin + src;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
    <style>
      :global(.toc-details-collapse, .toc-details-collapse li) {
        list-style-type: none;
      }
      :global(.toc-details-collapse li a) {
        padding: 0.5rem;
      }
    </style>
    <meta property="og:image" content={ogurl} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  </head>

  <body
    class="h-full bg-gnutrast-light dark:bg-slate-600"
    transition:animate="none"
  >
    <Header classNames="text-transparent" />
    <main
      transition:animate="slide"
      transition:name="content"
      class:list={[
        // { "no-permalink": !showHeadingPermalink },
        "container mx-auto ",
      ]}
    >
      <MdContainer
        showHeadingPermalink={showHeadingPermalink}
        class="prose prose-sm prose-zinc mx-auto max-w-4xl px-4 pt-20 dark:prose-invert md:prose-xl prose-h1:mb-0 prose-h1:text-gnudark dark:prose-h1:text-gnurange"
      >
        <div class="hero-image">
          {
            heroImage && (
              <Image
                style={{ marginBottom: "1em" }}
                class="mb-0 h-48 w-full rounded-xl object-cover"
                width={1020}
                height={200}
                src={heroImage}
                alt={heroImageAltText ?? "image"}
              />
            )
          }
        </div>
        <div class="flex flex-col">
          <BlogSubTitle
            pubDate={pubDate}
            updatedDate={updatedDate}
            writtenBy={writtenBy}
            minutesToRead={minutesToRead}
          />
          <hr class="not-prose mb-2 mt-0 border-t-gnurange" />
          <BlogHeading>
            {title}
            {subTitle && <Fragment slot="subTitle">{subTitle}</Fragment>}
          </BlogHeading>
          <hr class="not-prose mb-2 mt-0 border-t-gnurange" />
          <slot />
        </div>
      </MdContainer>
      <Footer />
      <style>
        /* :global(p:first-of-type::first-letter) {
        float: left;
        font-size: 4rem;
        line-height: 4rem;
        padding-right: 0.5rem;
      } */
      </style>
    </main>
  </body>
</html>
